    <footer>
        <div class="wrapper">
            <div class="left foot-about">
                <ul>
                    <li><a>关于我们</a>|</li>
                    <li><a>法律声明</a>|</li>
                    <li><a>项目合作</a>|</li>
                    <li><a>招贤纳士</a>|</li>
                    <li><a>联系我们</a></li>
                </ul>
                <p>育鹏专升本教育信息网 Copyright ©2015-2017 y-peng.com ALL rights reserved</p>
                <p>京ICP备15059158号-1 京公网安备11011402010032号 <span><a><img src="http://icon.cnzz.com/img/pic.gif"></a></span></p>
            </div>
            <div class="left foot-wechat">
                <%= image_tag "wechat.png" %>
                <p>官方微信</p>
                <p>扫一扫关注育鹏专升本</p>
                <p>精彩活动早知道</p>
            </div>
            <div class="left foot-enter">
                <div>
                    <%= image_tag "tel-icon.png", class: "left" %>
                    <p>报名咨询电话</p>
                    <p>010-82962882</p>
                </div>
                <div class="credible-img">
                    <%= image_tag "credible-img.png", class: "left" %>
                    <%= image_tag "credible-img.png", class: "left" %>
                    <%= image_tag "credible-img.png", class: "left" %>
                </div>
            </div>
        </div>
    </footer>