    <header>
        <div class="header-t">
            <div class="header-t-container">
                <div class="header-t-l left">
                    <p>育鹏专升本教育信息网-专业专升本招生培训网站</p>
                </div>
                <div class="header-t-r right">
                    <ul>
                        <li><a>找学校</a>|</li>
                        <li><a>找专业</a>|</li>
                        <li><a>手机站</a>|</li>
                        <li><a>网站地图</a></li>
                        <li><a>返回网站首页</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-c">
            <div class="header-c-contain">
                <div class="logo left">
                    <div class="logo-img left">
                        <%= image_tag "y-peng-logo.png" %>
                    </div>
                    <div class="location left">
                        <span>
                            地区专题
                        <%= image_tag "location-icon.png" %>
                        </span>
                        
                    </div>
                    <div class="more-location">
                        <div class="title">
                            <h2>全部地区专题</h2>
                        </div>
                        
                        <dl>
                        <dt>广东</dt>
                        <dd>
                            <em><a target="_blank">广州市</a></em>
                            <em><a target="_blank">深圳市</a></em>
                            <em><a target="_blank">珠海市</a></em>
                            <em><a target="_blank">汕头市</a></em>
                            <em><a target="_blank">韶关市</a></em>
                            <em><a target="_blank">佛山市</a></em>
                            <em><a target="_blank">江门市</a></em>
                            <em><a target="_blank">湛江市</a></em>
                            <em><a target="_blank">茂名市</a></em>
                            <em><a target="_blank">肇庆市</a></em>
                            <em><a target="_blank">惠州市</a></em>
                            <em><a target="_blank">梅州市</a></em>
                            <em><a target="_blank">汕尾市</a></em>
                            <em><a target="_blank">河源市</a></em>
                            <em><a target="_blank">阳江市</a></em>
                            <em><a target="_blank">清远市</a></em>
                            <em><a target="_blank">东莞市</a></em>
                            <em><a target="_blank">中山市</a></em>
                            <em><a target="_blank">潮州市</a></em>
                            <em><a target="_blank">揭阳市</a></em>
                            <em><a target="_blank">云浮市</a></em>
                        </dd>
                    </div>
                </div>
                <div class="search left">
                    <div class="search-type left">
                        <div>
                            <em id="search-type">搜索全部</em>
                            <%= image_tag "location-icon.png" %>
                        </div>
                        <ul>
                            <li>搜索全部</li>
                            <li>搜索学院</li>
                            <li>搜索专业</li>
                            <li>搜索简章</li>
                        </ul>
                    </div>
                    <div class="search-input left">
                        <input type="text" placeholder="请输入你想要搜索的关键词">
                    </div>
                    <div class="search-btn left">
                        搜索
                    </div>
                </div>
                <div class="tel right">
                    <%= image_tag "tel-icon.png", class: "left" %>
                    <p>报名咨询电话</p>
                    <p>010-82962882</p>
                </div>
            </div>
        </div>
        <div class="header-n">
            <div class="header-n-contain">
                <ul>
                    <li><%= link_to '首页', root_path %></li>
                    <li><%= link_to '远程教育', ycjy_path %></li>
                    <li><%= link_to '自学考试', zxks_path %></li>
                    <li><%= link_to '成人高考', crgk_path %></li>
                    <li><%= link_to '统考专升本', tkzsb_path %></li>
                    <li><%= link_to '电大', dd_path %></li>
                    <li><%= link_to '招生简章', zsjz_path %></li>
                </ul>
            </div>
        </div>
    </header>
    <script type="text/javascript">
        var on = true;
        $('.search-type div').click(function(){
            if (on) {
                $('.search-type ul').css('display','block');
                on = false;
            }else{
                $('.search-type ul').css('display','none');
                on = true;
            }
        })
        var on_1 = true;
        $('.location span').click(function(){
            if (on_1) {
                $('.more-location').css('display','block');
                on_1 = false;
            }else{
                $('.more-location').css('display','none');
                on_1 = true;
            }
        })
        function setColor(){
            $('.search-type ul li').each(function(){
                var liEl = this.innerHTML;
                if(document.getElementById('search-type').innerHTML == liEl){
                    this.className = "on";
                }else{
                    this.className = "";
                }
            })
        }
        
        $('.search-type ul li').click(function(){
            var liEl = this.innerHTML;
            document.getElementById('search-type').innerHTML = liEl;
            $('.search-type ul').css('display','none');
            on = true;
            setColor();
        })
        setColor();
    </script>