    <div class="container">
        <div class="wrapper">
            <div class="enter left">
                <div class="enter-school">
                    <%= image_tag "school.png", class: "left" %>
                    <p>找学校</p>
                    <p>全国100+院校</p>
                    <%= image_tag "right-icon.png", class: "right" %>
                    <div class="more-school">
                    </div>
                </div>
                <div class="enter-major">
                    <%= image_tag "major.png", class: "left" %>
                    <p>找专业</p>
                    <p>包含40+专业</p>
                    <%= image_tag "right-icon.png", class: "right" %>
                </div>
                <div class="enter-img">
                    <a>
                        <%= image_tag "enter-img.png" %>
                    </a>
                </div>
            </div>
            <div class="scroll left">
                <%= image_tag "ad_1.png" %>
            </div>
            <div class="test left">
                <div class="overflow">
                    <div class="scoretxt left">
                        <p>满意度</p>
                        <em>100%</em>
                    </div>
                    <div class="sche left">
                        <p>已服务学员 : <span>10837</span>人</p>
                        <p>已有评论数 : <span>10003</span>条</p>
                    </div>
                </div>
                <h2>2016年专升本考试时间提醒</h2>
                <div class="test-info">
                    <div class="info-title">
                        <p class="info-title-f left">考试名称</p>
                        <p class="info-title-r left">开考日期</p>
                    </div>
                    <div class="info-time">
                        <ul>
                            <li><a>2016年山东电大考试时间</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="introduce-1">
                <div class="title">
                    <h2><em>有证</em> 你的人生会更好<span class="ldot"></span>
                    <span class="rdot"></span></h2>

                    <p>为什么你要考一个正规的、高含金量的学历？</p>
                    <div>
                        EDUCATION
                    </div>
                </div>
                <div class="content">
                    <div class="text-l left">
                        <ul>
                            <li style="margin-left:50px">
                                <div>
                                    <div class="left">
                                        <h4>考研究生</h4>
                                        <p>有了本科学历，可以直接报考全国统招研究<br>生，而专科生只能在毕业满两年后以同等学历考研</p>
                                    </div>
                                    <div class="right">
                                        <%= image_tag "introduceImg-1.png" %>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div class="left" style="width:340px;">
                                        <h4>考资格证</h4>
                                        <p>拿个本科学历，考自己喜欢的职业资格，如:营养<br>师、心理咨询师、公证员、建造师、律师、检察官等</p>
                                    </div>
                                    <div class="right">
                                        <%= image_tag "introduceImg-2.png" %>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div class="left" style="width:340px;">
                                        <h4>出国留学</h4>
                                        <p>许多国家都承认我国的成人本科学历，有了本<br>科，可在国外直接读研究生学历，节省很多时间和费用</p>
                                    </div>
                                    <div class="right">
                                        <%= image_tag "introduceImg-3.png" %>
                                    </div>
                                </div>
                            </li>
                            <li style="margin-left:50px">
                                <div>
                                    <div class="left" style="width:340px;">
                                        <h4>积分入户</h4>
                                        <p>大专学历60分、本科学历80分，如今<br>成人本科学历，已经成为积分入户最便捷条件之一</p>
                                    </div>
                                    <div class="right">
                                        <%= image_tag "introduceImg-4.png" %>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="text-c">
                        <%= image_tag "introduceImg-9.png" %>
                    </div>
                    <div class="text-r right">
                        <ul>
                            <li style="margin-left:-50px">
                                <div>
                                    <div class="right" style="width:340px;">
                                        <h4>求职就业</h4>
                                        <p>好学历往往是好工作的敲门砖。考个<br>本科学历，不是你为工作发愁，而是好工作主动找你</p>
                                    </div>
                                    <div class="left">
                                        <%= image_tag "introduceImg-5.png" %>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div class="right" style="width:340px;">
                                        <h4>升职加薪</h4>
                                        <p>很多单位本科工资比专科工资高一档<br>(一般500元-1000元不等)，且奖金和提升机会更多</p>
                                    </div>
                                    <div class="left">
                                        <%= image_tag "introduceImg-6.png" %>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div class="right" style="width:340px;">
                                        <h4>考评职称</h4>
                                        <p>无学历需工作10年才能评助理级职称，高学历<br>仅工作2年即可评定，花1年时间自考本科早评定职称</p>
                                    </div>
                                    <div class="left">
                                        <%= image_tag "introduceImg-7.png" %>
                                    </div>
                                </div>
                            </li>
                            <li style="margin-left:-50px">
                                <div>
                                    <div class="right" style="width:340px;">
                                        <h4>考公务员</h4>
                                        <p>公务员工作稳定，待遇较高，压力较<br>小，修个名校成人本科学历，考公务员不受任何限制</p>
                                    </div>
                                    <div class="left">
                                        <%= image_tag "introduceImg-8.png" %>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="introduce-2 overflow">
                <div class="left">
                    <div class="up overflow">
                        <div class="up-1 left t-r">
                            <h4>自学专本</h4>
                            <p>含金量最高，与统招待遇同等</p>
                            <p>学习费用低，学习方式灵活</p>
                            <p>国家承认，学信网可查</p>
                            <p>考公务员、考职称、留学必备</p>
                            <a>自考学历咨询入口</a>
                        </div>
                        <div class="up-2 left t-l">
                            <h4>成人高考</h4>
                            <p>正规学历，学信网可查</p>
                            <p>弥补高考落榜或错过高考的失落</p>
                            <p>国家承认，用人单位高度认可</p>
                            <p>找工作必备利器</p>
                            <a>自考学历咨询入口</a>
                        </div>
                    </div>
                    <div class="bottom overflow">
                        <div class="bottom-1 left t-r">
                            <h4>远程教育</h4>
                            <p>无时间无地域限制，随时随地想学就学</p>
                            <p>足不出户，拿211/985名校学历</p>
                            <p>优质教育资源，重点热门专业</p>
                            <p>学历社会认可，全网可查</p>
                            <a>远程教育咨询入口</a>
                        </div>
                        <div class="bottom-2 left t-l">
                            <h4>函授学历</h4>
                            <p>名校函授学历，以自学为主</p>
                            <p>空间、时间、地域唔限制</p>
                            <p>学习方式自由灵活</p>
                            <p>无精力负担，边工作边完成学业</p>
                            <a>函授本科咨询入口</a>
                        </div>
                    </div>
                    <span style="top:0;left:50%;transform: translateX(-50%);"></span>
                    <span style="top:50%;right:0;transform: translateY(-50%);"></span>
                    <span style="bottom:0;left:50%;transform: translateX(-50%);"></span>
                    <span style="top:50%;left:0;transform: translateY(-50%);"></span>
                </div>
                <div class="right">
                    <div class="content-1">
                        <p>国家承认，终生可查的4种正规成人高等学历类型</p>
                        <p>76所"985/211工程"高等院校，超过109门招考专业</p>
                    </div>
                    <div class="content-2">
                        <h2>4大学历提升途径</h2>
                        <h3>选你所想</h3>
                        <h4>CHOOSE</h4>
                        <h5>WHAT YOU WANT</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="introduce-3">
                <div class="left">
                    <div class="block" style="top:256px;left:0;background-color: #c2c52e;">
                        <div>
                            <p>高中起点</p>    
                            <p>升大专</p>
                        </div>
                        <span>7</span>   
                    </div>
                    <div class="block" style="top:85px;left:171px;background-color: #c0c5c1;">
                        <div>
                            <p>专科</p>    
                            <p>升本科</p>
                        </div>
                        <span>4</span>   
                    </div>
                    <div class="block" style="top:256px;left:171px;background-color: #54a061;">
                        <div>
                            <p>高中起点</p>    
                            <p>升本科</p>
                        </div>
                        <span>5</span>   
                    </div>
                    <div class="block" style="top:427px;left:171px;background-color: #81d48e;">
                        <div>
                            <p>专本套读</p>
                        </div>
                        <span>6</span>   
                    </div>
                    <div class="block" style="top:171px;left:342px;background-color: #33a435;">
                        <div>
                            <p>无学历</p>    
                            <p>无学历</p>
                        </div>
                        <span>2</span>   
                    </div>
                    <div class="block" style="top:342px;left:342px;background-color: #4ce466;">
                        <div>
                            <p>二学历</p>
                        </div>
                        <span>3</span>   
                    </div>
                    <div class="block" style="top:1px;left:512px;background-color: #bae0c0;">
                        <div>
                            <p>无学历</p>    
                            <p>升大专</p>
                        </div>
                        <span>1</span>   
                    </div>
                </div>
                <div class="right">
                    <div class="content-2">
                        <h2><span>7</span>大学历提升方案</h2>
                        <h3>为你量身打造</h3>
                        <h4>FOR YOU</h4>
                        <p class="contentP right">针对不同基础人群，制定与之需求匹配的学历提升方案，让考取学历变得简单。</p>
                        <p class="contentP right">学习，不怕从0开始，就怕从不开始。</p>
                        <div class="right" style="padding: 15px 0 0 162px">
                            <%= image_tag "tel-icon.png", class: "left" %>
                            <p style="font-size: 29px;line-height: 45px;color:#33a435">010-82962882</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="introduce-4">
                <div class="title">
                    <h2><em>所获</em>证书<em>一览</em></h2>
                    <div>
                        CERTIFICATE
                    </div>
                </div>
                <div class="certificate">
                    <ul>
                        <li>
                            <div class="block">
                                <%= image_tag "certificate-1.png" %>
                                <h3>自学考试</h3>
                                <span></span>
                                <p>直播、录播等学习模式</p>
                                <p>部分专业免考4科以上</p>
                                <p>学信网正规可查学历</p>
                                <p>下证时间短</p>
                                <p>含金量媲美统招</p>
                                <a>自考学历详情</a>
                            </div>
                        </li>
                        <li>
                            <div class="block">
                                <%= image_tag "certificate-2.png" %>
                                <h3>自学考试</h3>
                                <span></span>
                                <p>直播、录播等学习模式</p>
                                <p>部分专业免考4科以上</p>
                                <p>学信网正规可查学历</p>
                                <p>下证时间短</p>
                                <p>含金量媲美统招</p>
                                <a>自考学历详情</a>
                            </div>
                        </li>
                        <li>
                            <div class="block">
                                <%= image_tag "certificate-3.png" %>
                                <h3>自学考试</h3>
                                <span></span>
                                <p>直播、录播等学习模式</p>
                                <p>部分专业免考4科以上</p>
                                <p>学信网正规可查学历</p>
                                <p>下证时间短</p>
                                <p>含金量媲美统招</p>
                                <a>自考学历详情</a>
                            </div>
                        </li>
                        <li>
                            <div class="block">
                                <%= image_tag "certificate-4.png" %>
                                <h3>自学考试</h3>
                                <span></span>
                                <p>直播、录播等学习模式</p>
                                <p>部分专业免考4科以上</p>
                                <p>学信网正规可查学历</p>
                                <p>下证时间短</p>
                                <p>含金量媲美统招</p>
                                <a>自考学历详情</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="bar">
                <ul>
                    <li class="on">远程教育</li>
                    <li>自学考试</li>
                    <li>成人高考</li>
                </ul>
                <span><a>更多</a></span>
            </div>
            <div>
                <div class="form selected">
                    <ul>
                      <% 10.times do %>
                        <li>
                            <a>
                                <%= image_tag "school-img.png" %>
                                <p>国际经济与贸易</p>
                            </a>
                            <div class="school-content">
                                <div class="left">
                                    <p>学费：100元/学分</p>
                                    <p>层次：专升本</p>
                                </div>
                                <div class="left">
                                    <p>满意度：100%</p>
                                    <p>类别：远程教育</p>
                                </div>
                            </div>
                        </li>
                      <% end %>
                    </ul>
                </div>
                <div class="form">2</div>
                <div class="form">3</div>
            </div>
        </div>     
    </div>
        <div class="wrapper">
            <div class="banner">
                <%= image_tag "dalianligong-banner.png" %>
            </div>
        </div>
        <div class="wrapper">
            <div class="news left">
                <div class="bar">
                    <ul>
                        <li class="on">考试动态</li>
                        <li>考试科目</li>
                        <li>考试报名</li>
                    </ul>
                    <span><a>更多</a></span>
                </div>
                <div>
                    <div class="info-time none selected">
                        <ul>
                            <li><a>1111111111111111111</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>2222222222222222222</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>33333333333333333333</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="news left" style="margin-left:12px">
                <div class="bar">
                    <ul>
                        <li class="on">准考证</li>
                        <li>分数线</li>
                        <li>成绩查询</li>
                    </ul>
                    <span><a>更多</a></span>
                </div>
                <div>
                    <div class="info-time none selected">
                        <ul>
                            <li><a>1111111111111111111</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>2222222222222222222</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>33333333333333333333</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="news left" style="margin-left:12px">
                <div class="bar">
                    <ul>
                        <li class="on">复习辅导</li>
                        <li>经验技巧</li>
                    </ul>
                    <span><a>更多</a></span>
                </div>
                <div>
                    <div class="info-time none selected">
                        <ul>
                            <li><a>1111111111111111111</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>2222222222222222222</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="banner">
                <%= image_tag "dalianligong-banner.png" %>
            </div>
        </div>
        <div class="wrapper">
            <div class="news left">
                <div class="bar">
                    <ul>
                        <li class="on">考试动态</li>
                        <li>考试科目</li>
                        <li>考试报名</li>
                    </ul>
                    <span><a>更多</a></span>
                </div>
                <div>
                    <div class="info-time none selected">
                        <ul>
                            <li><a>1111111111111111111</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>2222222222222222222</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>33333333333333333333</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="news left" style="margin-left:12px">
                <div class="bar">
                    <ul>
                        <li class="on">准考证</li>
                        <li>分数线</li>
                        <li>成绩查询</li>
                    </ul>
                    <span><a>更多</a></span>
                </div>
                <div>
                    <div class="info-time none selected">
                        <ul>
                            <li><a>1111111111111111111</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>2222222222222222222</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>33333333333333333333</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="news left" style="margin-left:12px">
                <div class="bar">
                    <ul>
                        <li class="on">复习辅导</li>
                        <li>经验技巧</li>
                    </ul>
                    <span><a>更多</a></span>
                </div>
                <div>
                    <div class="info-time none selected">
                        <ul>
                            <li><a>1111111111111111111</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>2222222222222222222</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="banner">
                <%= image_tag "dalianligong-banner.png" %>
            </div>
        </div>
        <div class="wrapper">
            <div class="news left">
                <div class="bar">
                    <ul>
                        <li class="on">考试动态</li>
                        <li>考试科目</li>
                        <li>考试报名</li>
                    </ul>
                    <span><a>更多</a></span>
                </div>
                <div>
                    <div class="info-time none selected">
                        <ul>
                            <li><a>1111111111111111111</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>2222222222222222222</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>33333333333333333333</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="news left" style="margin-left:12px">
                <div class="bar">
                    <ul>
                        <li class="on">准考证</li>
                        <li>分数线</li>
                        <li>成绩查询</li>
                    </ul>
                    <span><a>更多</a></span>
                </div>
                <div>
                    <div class="info-time none selected">
                        <ul>
                            <li><a>1111111111111111111</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>2222222222222222222</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>33333333333333333333</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="news left" style="margin-left:12px">
                <div class="bar">
                    <ul>
                        <li class="on">复习辅导</li>
                        <li>经验技巧</li>
                    </ul>
                    <span><a>更多</a></span>
                </div>
                <div>
                    <div class="info-time none selected">
                        <ul>
                            <li><a>1111111111111111111</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>2222222222222222222</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="banner">
                <%= image_tag "dalianligong-banner.png" %>
            </div>
        </div>
        <div class="wrapper">
            <div class="left">
                <div class="ycjy">
                    <h2>远程教育-轻松的学历提升方式</h2>
                    <div class="overflow">
                        <div class="ycjy-text left">
                            <h3>随时随地</h3>
                            <h3>想学就学</h3>
                        </div>
                        <div class="ycjy-table left">
                        <div style="border-bottom:1px solid #ffffff">
                            <table cellspacing="0px" style="padding: 12px 130px 0 110px;">
                                <tr>
                                    <td>手机</td>
                                    <td>平板</td>
                                    <td>电脑</td>
                                </tr>
                            </table>
                        </div>
                        <div style="border-top:1px solid #ffffff">
                            <table cellspacing="0px" style="padding: 0px 130px 12px 110px;">
                                <tr>
                                    <td>家电</td>
                                    <td>办公室</td>
                                    <td>地铁</td>
                                </tr>
                            </table>
                        </div> 
                        </div>
                    </div>
                    <div class="overflow">
                        <div class="ycjy-text left">
                            <h3>优质教育资源</h3>
                            <h3>通过率高</h3>
                        </div>
                        <div class="ycjy-table left">
                        <div style="border-bottom:1px solid #ffffff">
                            <table cellspacing="0px" style="padding: 12px 130px 0 110px;">
                                <tr>
                                    <td>211</td>
                                    <td>985名校</td>
                                    <td>地铁</td>
                                </tr>
                            </table>
                        </div>
                        <div style="border-top:1px solid #ffffff">
                            <table cellspacing="0px" style="padding: 0px 130px 12px 110px;">
                                <tr>
                                    <td style="text-align:left;padding-left:30px">可申请免考科目</td>
                                </tr>
                            </table>
                        </div> 
                        </div>
                    </div>
                    <div class="overflow">
                        <div class="ycjy-text left">
                            <h3 style="padding: 5px 50px;">经济无压力</h3>
                        </div>
                        <div class="ycjy-table left">
                        <div>
                            <table cellspacing="0px" style="padding: 6.5px 130px 6.5px 110px;">
                                <tr>
                                    <td style="text-align:left;padding-left:30px">总体费用偏低</td>
                                </tr>
                            </table>
                        </div>
                         
                        </div>
                    </div>
                </div>
                <div class="compare">
                    <table cellspadding="2">
                        <tr>
                            <th></th>
                            <th>远程教育</th>
                            <th>成人高考</th>
                            <th>自学考试</th>
                        </tr>
                        <tr>
                            <th>入学方式</th>
                            <td>一年两次招生,符合一定条件者免试录取</td>
                            <td>参加每年十月份的全国统一入学考试,达到分数线录取</td>
                            <td>宽进严出,无入学考试,单科考试,全部科目合格毕业</td>
                        </tr>
                        <tr>
                            <th>学习形式</th>
                            <td>互联网授课,随时随地想学就学</td>
                            <td>分为脱产、业余、函授三种学习形式</td>
                            <td>以自学为主,培训为辅</td>
                        </tr>
                        <tr>
                            <th>适合人群</th>
                            <td>适合工作忙碌,想轻松获取学历的上班族</td>
                            <td>适合高考落榜、工作忙碌、想要提升学历的人</td>
                            <td>基础好、有足够时间、对学习有信心的人</td>
                        </tr>
                        <tr>
                            <th>推荐指数</th>
                            <td>星</td>
                            <td>星</td>
                            <td>星</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="left">
                
            </div>
        </div>
    </div>
  <script>
  window.onload = function() {
      init();
  }
  
  $('.bar ul li').mouseover(function() {
      $(this).parent().children().removeClass("on");
      $(this).addClass("on");
      var index = $(this).index();
      var form = $(this).parent().parent().next().children();
      form.removeClass("selected");
      form[index].className += " selected";
  });
  
  function init() {
  
  }
  </script>
