    <div class="container">
        <div class="wrapper">
            <div class="enter left">
                <div class="enter-school">
                    <%= image_tag "school.png", class: "left" %>
                    <p>找学校</p>
                    <p>全国100+院校</p>
                    <%= image_tag "right-icon.png", class: "right" %>
                    <div class="more-school">
                    </div>
                </div>
                <div class="enter-major">
                    <%= image_tag "major.png", class: "left" %>
                    <p>找专业</p>
                    <p>包含40+专业</p>
                    <%= image_tag "right-icon.png", class: "right" %>
                </div>
                <div class="enter-img">
                    <a>
                        <%= image_tag "enter-img.png" %>
                    </a>
                </div>
            </div>
            <div class="scroll left">
                <%= image_tag "ad_1.png" %>
            </div>
            <div class="test left">
                <div style="overflow:hidden">
                    <div class="scoretxt left">
                        <p>满意度</p>
                        <em>100%</em>
                    </div>
                    <div class="sche left">
                        <p>已服务学员 : <span>10837</span>人</p>
                        <p>已有评论数 : <span>10003</span>条</p>
                    </div>
                </div>
                <h2>2016年专升本考试时间提醒</h2>
                <div class="test-info">
                    <div class="info-title">
                        <p class="info-title-f left">考试名称</p>
                        <p class="info-title-r left">开考日期</p>
                    </div>
                    <div class="info-time">
                        <ul>
                            <li><a>2016年山东电大考试时间</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="bar">
                <ul>
                    <li class="on">远程教育</li>
                    <li>自学考试</li>
                    <li>成人高考</li>
                </ul>
                <span><a>更多</a></span>
            </div>
            <div>
                <div class="form selected">
                    <ul>
                      <% 10.times do %>
                        <li>
                            <a>
                                <%= image_tag "school-img.png" %>
                                <p>国际经济与贸易</p>
                            </a>
                            <div class="school-content">
                                <div class="left">
                                    <p>学费：100元/学分</p>
                                    <p>层次：专升本</p>
                                </div>
                                <div class="left">
                                    <p>满意度：100%</p>
                                    <p>类别：远程教育</p>
                                </div>
                            </div>
                        </li>
                      <% end %>
                    </ul>
                </div>
                <div class="form">2</div>
                <div class="form">3</div>
            </div>
        </div>
    </div>
        <div class="wrapper">
            <div class="banner">
                <%= image_tag "dalianligong-banner.png" %>
            </div>
        </div>
        <div class="wrapper">
            <div class="news left">
                <div class="bar">
                    <ul>
                        <li class="on">考试动态</li>
                        <li>考试科目</li>
                        <li>考试报名</li>
                    </ul>
                    <span><a>更多</a></span>
                </div>
                <div>
                    <div class="info-time none selected">
                        <ul>
                            <li><a>1111111111111111111</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>2222222222222222222</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>33333333333333333333</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="news left" style="margin-left:12px">
                <div class="bar">
                    <ul>
                        <li class="on">准考证</li>
                        <li>分数线</li>
                        <li>成绩查询</li>
                    </ul>
                    <span><a>更多</a></span>
                </div>
                <div>
                    <div class="info-time none selected">
                        <ul>
                            <li><a>1111111111111111111</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>2222222222222222222</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>33333333333333333333</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="news left" style="margin-left:12px">
                <div class="bar">
                    <ul>
                        <li class="on">复习辅导</li>
                        <li>经验技巧</li>
                    </ul>
                    <span><a>更多</a></span>
                </div>
                <div>
                    <div class="info-time none selected">
                        <ul>
                            <li><a>1111111111111111111</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>2222222222222222222</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="banner">
                <%= image_tag "dalianligong-banner.png" %>
            </div>
        </div>
        <div class="wrapper">
            <div class="news left">
                <div class="bar">
                    <ul>
                        <li class="on">考试动态</li>
                        <li>考试科目</li>
                        <li>考试报名</li>
                    </ul>
                    <span><a>更多</a></span>
                </div>
                <div>
                    <div class="info-time none selected">
                        <ul>
                            <li><a>1111111111111111111</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>2222222222222222222</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>33333333333333333333</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="news left" style="margin-left:12px">
                <div class="bar">
                    <ul>
                        <li class="on">准考证</li>
                        <li>分数线</li>
                        <li>成绩查询</li>
                    </ul>
                    <span><a>更多</a></span>
                </div>
                <div>
                    <div class="info-time none selected">
                        <ul>
                            <li><a>1111111111111111111</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>2222222222222222222</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>33333333333333333333</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="news left" style="margin-left:12px">
                <div class="bar">
                    <ul>
                        <li class="on">复习辅导</li>
                        <li>经验技巧</li>
                    </ul>
                    <span><a>更多</a></span>
                </div>
                <div>
                    <div class="info-time none selected">
                        <ul>
                            <li><a>1111111111111111111</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>2222222222222222222</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="banner">
                <%= image_tag "dalianligong-banner.png" %>
            </div>
        </div>
        <div class="wrapper">
            <div class="news left">
                <div class="bar">
                    <ul>
                        <li class="on">考试动态</li>
                        <li>考试科目</li>
                        <li>考试报名</li>
                    </ul>
                    <span><a>更多</a></span>
                </div>
                <div>
                    <div class="info-time none selected">
                        <ul>
                            <li><a>1111111111111111111</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>2222222222222222222</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>33333333333333333333</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="news left" style="margin-left:12px">
                <div class="bar">
                    <ul>
                        <li class="on">准考证</li>
                        <li>分数线</li>
                        <li>成绩查询</li>
                    </ul>
                    <span><a>更多</a></span>
                </div>
                <div>
                    <div class="info-time none selected">
                        <ul>
                            <li><a>1111111111111111111</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>2222222222222222222</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>33333333333333333333</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="news left" style="margin-left:12px">
                <div class="bar">
                    <ul>
                        <li class="on">复习辅导</li>
                        <li>经验技巧</li>
                    </ul>
                    <span><a>更多</a></span>
                </div>
                <div>
                    <div class="info-time none selected">
                        <ul>
                            <li><a>1111111111111111111</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                    <div class="info-time none">
                        <ul>
                            <li><a>2222222222222222222</a><span>2016-03-12</span></li>
                            <li><a>2016年甘肃电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年宁夏电大考试时间</a><span>2016-03-06</span></li>
                            <li><a>2016年浙江大学远程教育秋季考</a><span>2016-05-24</span></li>
                            <li><a>2016年江南大学远程教育考试时</a><span>2016-08-31</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="banner">
                <%= image_tag "dalianligong-banner.png" %>
            </div>
        </div>
    </div>
  <script>
  window.onload = function() {
      init();
  }
  
  $('.bar ul li').mouseover(function() {
      $(this).parent().children().removeClass("on");
      $(this).addClass("on");
      var index = $(this).index();
      var form = $(this).parent().parent().next().children();
      form.removeClass("selected");
      form[index].className += " selected";
  });
  
  function init() {
  
  }
  </script>
